{% extends 'climbing/base.html' %}
{% block title %} Encoder des résultats{% endblock title %}

{% block content %}
<h2>{{ competition }}</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 5em">Dossard</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    {% for competitor in competition.competitor_set.all %}
    <tr>
      <td><a class="btn btn-primary" href="{% url 'encoding:competitor' competition.id competitor.id %}" role="button">{{ competitor.dossard }}</a></td>
      <td>{{ competitor.athlete }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary" href="{% url 'climbing:results' competition.id %}" role="button">Afficher le classement</a>

{% endblock content %}
