{% extends 'climbing/base.html' %}
{% block title %} Encoder des résultats{% endblock title %}

{% block content %}
<h2>{{ competition }}</h2>

<div class="btn-group py-3" role="group">
  <a class="btn btn-primary" href="{% url 'encoding:list_boulders' competition.id %}" role="button">Encoder un bloc spécifique</a>
  <a class="btn btn-info mx-3" href="{% url 'climbing:results' competition.id %}" role="button">Afficher le classement</a>
</div>
<table class="table table-striped table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 5em">Dossard</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    {% for competitor in competition.competitor_set.all %}
    <tr>
      <td><a class="btn btn-primary" href="{% url 'encoding:competitor' competition.id competitor.id %}" role="button">{{ competitor.dossard }}</a></td>
      <td>{{ competitor.athlete }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
