body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

h2 {
  margin-top: 1em;
}

.btn-space-left {
  margin-left: 20px;
}

.btn-group-padding {
  padding: 10px 0;
}
