{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'bootstrap/4.1.1/css/bootstrap.min.css' %}">

  <title>{% block page_title %}Climbing Application{% endblock page_title %}</title>

  <link rel="stylesheet" href="{% static 'css/climbing.css' %}">


</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top navbar-scf">
    <a class="navbar-brand" href="{% url 'index' %}">   <img src="{% static 'images/SCF.jpg' %}" width="40" height="40" alt="SCF"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.url_name == "index" %}active{%endif%}">
          <a class="nav-link" href="{% url 'index' %}">Compétitions</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == "athletes" %}active{%endif%}">
          <a class="nav-link" href="{% url 'athletes' %}">Athlètes</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-0">
        <li class="nav-item mr-0">
          <a class="nav-link" href="/admin/">Admin</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container-fluid">
    <div class="page-header">
      <h1>{%block title %}<a href="/">Climbing application</a>{% endblock title %}</h1>
    </div>

    <div class="row">
      <div class="col-xl-12">
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>{% endif %} {% block content %} {% endblock %}
      </div>
    </div>

  </main>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/4.1.1/js/bootstrap.min.js' %}"></script>
</body>

</html>
